@tailwind base;
@tailwind utilities;
@tailwind components;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  color: #e1e1e6;
  background: #121214;
}

body,
input,
textarea button {
  fontfamily: 'Roboto';
  font-weight: 400;
}
